<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[亲亲]</key>
	<string>ecs</string>
	<key>[便便]</key>
	<string>ebx</string>
	<key>[偷笑]</key>
	<string>ebl</string>
	<key>[傲慢]</key>
	<string>eco</string>
	<key>[冷汗]</key>
	<string>ecj</string>
	<key>[发呆]</key>
	<string>efb</string>
	<key>[可怜]</key>
	<string>edj</string>
	<key>[可爱]</key>
	<string>eca</string>
	<key>[右哼哼]</key>
	<string>ecz</string>
	<key>[吃惊]</key>
	<string>ecp</string>
	<key>[吐]</key>
	<string>ece</string>
	<key>[哭]</key>
	<string>ebs</string>
	<key>[嘘]</key>
	<string>ebt</string>
	<key>[坏笑]</key>
	<string>edb</string>
	<key>[大兵]</key>
	<string>edi</string>
	<key>[大哭]</key>
	<string>ebr</string>
	<key>[大骂]</key>
	<string>eeq</string>
	<key>[奋斗]</key>
	<string>ecx</string>
	<key>[委屈]</key>
	<string>ebw</string>
	<key>[害羞]</key>
	<string>ecc</string>
	<key>[尴尬]</key>
	<string>ech</string>
	<key>[左哼哼]</key>
	<string>eex</string>
	<key>[开心]</key>
	<string>ebg</string>
	<key>[弱]</key>
	<string>edo</string>
	<key>[得意]</key>
	<string>ecd</string>
	<key>[微笑]</key>
	<string>ecf</string>
	<key>[心]</key>
	<string>dec</string>
	<key>[心碎]</key>
	<string>eeg</string>
	<key>[快哭了]</key>
	<string>efa</string>
	<key>[怒]</key>
	<string>ecg</string>
	<key>[惊恐]</key>
	<string>eci</string>
	<key>[憨笑]</key>
	<string>ect</string>
	<key>[打哈气]</key>
	<string>eez</string>
	<key>[抓狂]</key>
	<string>ebv</string>
	<key>[抠鼻]</key>
	<string>ees</string>
	<key>[抱抱]</key>
	<string>eda</string>
	<key>[拜拜]</key>
	<string>ebo</string>
	<key>[握手]</key>
	<string>edp</string>
	<key>[撇嘴]</key>
	<string>ecv</string>
	<key>[擦汗]</key>
	<string>ebq</string>
	<key>[敲头]</key>
	<string>ebp</string>
	<key>[晕]</key>
	<string>ede</string>
	<key>[月亮]</key>
	<string>dfq</string>
	<key>[汗]</key>
	<string>ebj</string>
	<key>[爱你]</key>
	<string>ecl</string>
	<key>[玫瑰]</key>
	<string>ebn</string>
	<key>[留鼻涕]</key>
	<string>ecy</string>
	<key>[疑问]</key>
	<string>eca</string>
	<key>[疯了]</key>
	<string>eer</string>
	<key>[白眼]</key>
	<string>ecn</string>
	<key>[睡觉]</key>
	<string>ecr</string>
	<key>[瞌睡]</key>
	<string>eep</string>
	<key>[礼物]</key>
	<string>dfy</string>
	<key>[糗大了]</key>
	<string>eew</string>
	<key>[胜利]</key>
	<string>edq</string>
	<key>[色]</key>
	<string>ecb</string>
	<key>[衰]</key>
	<string>den</string>
	<key>[调皮]</key>
	<string>ebh</string>
	<key>[赞]</key>
	<string>edn</string>
	<key>[鄙视]</key>
	<string>edd</string>
	<key>[酷]</key>
	<string>ebu</string>
	<key>[闭嘴]</key>
	<string>eft</string>
	<key>[阴险]</key>
	<string>ecw</string>
	<key>[难过]</key>
	<string>deg</string>
	<key>[馋嘴]</key>
	<string>eeo</string>
	<key>[鼓掌]</key>
	<string>eet</string>
</dict>
</plist>
